@import '../../variables.scss';

.parameter {
  display: flex;
  flex-direction: column;
  align-items: center;;

  &__icon {
    color: $color-yellow;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__type {
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    color: $color-black;
    margin-bottom: 1rem;
  }

  &__value {
    @extend .parameter__type;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}
