$color-primary: #50B57A;
$color-white: #f0f0f0;
$color-gray: #808080;
$color-blue: #55A7f4;
$color-light-blue: #CFEAFF;
$color-dark-blue: #2F86D9;
$color-yellow: #FFB13d;
$color-light-yellow: #FFE9CE;
$color-red: #ED5653;
$color-light-red: #FFE6E2;
$color-black: #012622;

